{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
  <div style="background-image : url('https://png.pngtree.com/thumb_back/fh260/back_pic/02/65/63/65578876d4f20e9.jpg')">
    <div class="container">
      <div class= "jumbotron " style="color:cadetblue">
      <h3 style="color:black;text-align: center">Greymatter blogposts</h3>
      <h4 > {{quote.quote}}</h4>
      <small>{{quote.author}}</small>
      <h4 style="color:black;text-align: center">Let us hear you out </h4>
      <div class="row">
        {% for greymatter in greymatters %}
        
          <div class="profile-thumbnail">
          
    
          </div>
          <div class="greymatter-date">{{ moment(greymatter.timestamp).fromNow() }}</div>
          <div style="text-align: center;" class="greymatter-author">
          
                 {{ greymatter.title}}
  
          </div>
          <div class="greymatter-description" style="text-align: center;">{{ greymatter.description }}</div>
        </li>
        {% endfor %}
      </div>
      
    </div>
      </div>
    </div>
    </div>
  {% endblock %}