{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
      <div class= "jumbotron " style="color:cadetblue">
      <h3 style="color:black;text-align: center">Greymatter blogposts</h3>
      <h4 style="color:black;text-align: center">Let us hear you out </h4>
      <div class="row">
        {% for greymatter in greymatters %}
        <li class="greymatter">
          <div class="profile-thumbnail">
          
    
          </div>
          <div class="greymatter-date">{{ moment(greymatter.timestamp).fromNow() }}</div>
          <div style="text-align: center" class="greymatter-author">
          
                 {{ greymatter.title}}
  
          </div>
          <div class="greymatter-description" style="text-align: center">{{ greymatter.description }}</div>
        </li>
        {% endfor %}
      </div>
      
        
      </div>
    </div>
    </div>
  {% endblock %}