{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
      <div class= "jumbotron " style="color:cadetblue">
      <h3 style="color:black;text-align: center">Greymatter blogposts</h3>
      
      <div class="row">
        {% for post in posts %}
        <li class="greymatter">
          <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=greymatter.author.username) }}">
    
          </div>
          <div class="greymatter-date">{{ moment(greymatter.timestamp).fromNow() }}</div>
          <div class="greymatter-author">
            <a href="{{ url_for('.user', username=greymatter.author.username) }}">
    {{ post.author.username }}
    </a>
          </div>
          <div class="greymatter-description">{{ greymatter.description }}</div>
        </li>
        {% endfor %}
      </div>
      
        
      </div>
    </div>
    </div>
  {% endblock %}